// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.products {
  padding: 20px 0px;
  background-color: #fffbdb;
  li {
    list-style-type: none;
    margin-left: 20px;
  }
  .searchBar {
    padding: 5px 10px;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    &__block {
      margin: 40px 0px;
    }
    &-form {
      max-width: 200px;
    }
  }
  .indexPic {
    img {
      margin: 20px auto;
    }
  }
  .details{
    &-image {
      img {
        width: 400px;
        margin: 0px auto;
      }
    }
    &-content {
      padding: 25px;
      border: 1px solid #e7e7e7;
      border-radius: 5px;
      background-color: #fff;
    }
  }
  .details-content {
    &__middle {
      padding: 20px 0px;
      margin: 40px 0px;
      border-top: 1px dotted #dedede;
      border-bottom: 1px dotted #dedede;
    }
  }
}
