// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#welcome {
  .logo {
    background: image-url("korgi_play_computer.jpg");
    background-size: cover;
    background-position: 50% 25%;
    height: 400px;
  }
  .section {
    &-title {
      margin-bottom: 60px;
    }
    &-intro {
      padding: 40px 0px;
      padding: 40px 0px;
    }
    &-popProducts {
      padding: 40px 0px;
      background-color: #b7b9f3;
    }
  }

  .thumbnail {
    height: 300px;
  }

  #comment-count {
    display: inline-block;
    a {
      color: #000;
    }
  }

  .images {
    &-logo {
      display: inline-block;
      height: 400px;
    }
    &-intro {
      width: 200px;
      height: 200px;
      border-radius: 9999px;
      margin-bottom: 30px;
    }
  }

  .font {
    &--productScores {
      font-size: 16px;
      font-weight: bold;
    }
    &--white{
      color: #fff;
    }
    &--pale {
      color: #555;
    }
  }
}

.text-right {
  float: right;
}
.text-closerRight {
  position: relative;
  left: 20%;
}

.btn-goProducts {
  margin-top: 30px;
  color: #fff;
  background-color: #d65959;
  &:hover {
    color: #fff !important;
    background-color: #d24545;
  }
}
